# Ignore tables
tables/*.csv

# Ignore generated static files
public/*
!public/.gitkeep

# Ignore installed dependencies
node_modules/
vendor/

# Ignore dependency locks
package-lock.json
composer.lock

# Ignore all themes exept default
themes/*
!themes/default

# Other files
direct.php