# Ignore tables
tables/*.csv

# Ignore generated static files
public/*
!public/.gitkeep

# Ignore installed dependencies
node_modules/
vendor/

# Ignore dependency locks
package-lock.json
composer.lock

# Ignore Laravel Blade cache
core/cache/*
!core/cache/.gitkeep

# Other files
direct.php
.DS_Store
