<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Journal</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"> 
    <link href="{{ url }}/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url }}/assets/css/simple-line-icons.css" rel="stylesheet">
    <link href="{{ url }}/assets/css/sidebar.css" rel="stylesheet">
    <link href="{{ url }}/assets/css/style.css" rel="stylesheet">
    <link href="{{ url }}/assets/css/write.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{{ url }}">
                        <span class="icon-pencil"></span> Journal
                    </a>
                </li>
                <li>
                    <a href="{{ url }}"><span class="icon-layers"></span> Posts</a>
                </li>
                <li>
                    <a href="{{ url }}/write"><span class="icon-note"></span> Create new</a>
                </li>
                <li>
                    <a href="{{ url }}/menu"><span class="icon-list"></span> Menu</a>
                </li>
                <li>
                    <a href="{{ url }}/settings">
                        <span class="icon-settings"></span> 
                        {{# update }}
                            <span class="update-notification" title="New update availible"></span>
                        {{/ update }}
                        Settings
                    </a>
                </li>
                <hr>
                <li>
                    <a href="{{ url }}/public/"><span class="icon-eye"></span> View static blog</a>
                </li>
                <!-- <li>
                    <a href="#"><span class="icon-logout"></span> Logout</a>
                </li> -->
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
                <button class="navbar-toggler" id="menu-toggle"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>

            {{{ content }}}
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url }}/assets/js/jquery.min.js"></script>
    <script src="{{ url }}/assets/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>

</html>