<div class="container-fluid">
    {{# uploading }}
    <div class="alert alert-secondary" role="alert">
        <span class="icon-info"></span> Journal is currently uploading files to your server in the background - this might take a few minutes but you can continue using Journal in that time. This message will dissapear as soon as uploading is done.
    </div>
    {{/ uploading }}
    {{# uploadable }}
    <form action="{{ url }}/" method="post">
        <button class="btn btn-block btn-dark" type="submit">
            <span class="icon-cloud-upload"></span> 
            {{# au_enabled }}
            Pause automatic uploading
            {{/ au_enabled }}
            {{^ au_enabled }}
            Resume automatic uploading
            {{/ au_enabled }}
        </button>
    </form>
    {{/ uploadable }}
    {{# post }}
    <div class="card">
        <div class="card-body">
            <h4>{{{ title }}}</h4>
            <p>{{{ text }}}</p>
            <a href="{{ url }}/write/{{ id }}" class="btn btn-block btn-outline-dark"><span class="icon-pencil"></span> Edit</a>
        </div>
    </div>
    {{/ post }}
    {{^ post }}
        <h1>So empty in here!</h1>
        <p>Start your blog by <a href="{{ url }}/write">creating your first post</a>.</p>
    {{/ post }}
</div>